   <div class="center-block">
   <div class="set_center_outer">
    <div class = "mx-auto col-3 ">
<%= form_with model: @item, url: admin_item_path, method: :post do |f| %>
<div class="parent_box">

 <h5>商品画像</h5>
  <%= image_tag @item.image, size: "200x200" %>
 <h5>商品名</h5>
  <%= f.text_field :name %>
   <h5>商品説明</h5>
  <%= f.text_area :introduction %>
 <h5>税抜価格</h5>
  <%= f.text_field  :price %>円<br>
<% end %>

<%= link_to "編集する", edit_admin_item_path(@item.id),class: "btn btn-success" %>
</div>
</div>
</div>
</div>
