

<div class="container">
  <h5 class = "ad_log_in">新規会員登録</h5>
<div class="row">
  
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name)) do |f| %>
 <%= render "public/shared/error_messages", resource: resource %>
   <div class="field">
    <div class="form-inline">
   <label>名前</label>
     </div>
  <div class="field">
    <%= f.label :"(姓)" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: ":last_name", :placeholder =>"令和" %>
  </div>
    <div class="field">
    <%= f.label :"(名)" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: ":first_name", :placeholder =>"道子"  %>
  </div>
    <div class="field">
    <%= f.label :フリガナ %>
     </div>
       <div class="field">
    <%= f.label :"(セイ)" %>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: ":last_name_kana", :placeholder =>"レイワ" %>
  </div>
    <div class="field">
    <%= f.label :"(メイ)" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: ":first_name_kana", :placeholder =>"ミチコ"  %>
  </div>
  <div class="field">
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , :placeholder =>"sample@exsample.com"%>
  </div>
   <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %><br>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: ":postal_code", :placeholder =>"0000000" %>
  </div>
     <div class="field">
    <%= f.label :住所 %>
  <%= f.text_field :address,class:"form-control", autofocus: true, autocomplete: ":address", :placeholder =>"東京都渋谷区代々木神園町0-0" %>
  </div>
     <div class="field">
    <%= f.label :電話番号（ハイフンなし） %><br>
    <%= f.text_field :telephone_number, autofocus: true, autocomplete: ":telephone_number", :placeholder =>"0000000000" %>
  </div>
  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <strong>(<%= @minimum_password_length %> 文字以上)</strong>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード(確認用)" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>
<h6 class = "ad_log_in">既に登録済みの方</h6>
 <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。